# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs
resources/__pycache__
resources_old
resources_old/*
resources/*
src/main/resources_copy
src/main/resources/assets/tfcflorae111
.vscode

# Files from Forge MDK
forge*changelog.txt
