# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs
resources
resources/*
resources_old
resources_old/*
.vscode

# Files from Forge MDK
forge*changelog.txt
