protected net.minecraft.tileentity.TileEntityChest field_145985_p # chestContents, for allowing a size override
protected net.minecraft.tileentity.TileEntityChest func_174912_b(Lnet/minecraft/util/math/BlockPos;)Z # boolean isChestAt(BlockPos posIn), to allow different types of chests to live together as one

# EntityBoat - to fix issue #1051
protected net.minecraft.entity.item.EntityBoat field_184469_aF # status
protected net.minecraft.entity.item.EntityBoat field_184471_aG # previousStatus
protected net.minecraft.entity.item.EntityBoat field_184474_h # outOfControlTicks
protected net.minecraft.entity.item.EntityBoat field_184470_f # paddlePositions

protected net.minecraft.entity.item.EntityBoat func_184449_t()Lnet/minecraft/entity/item/EntityBoat$Status; # getBoatStatus
protected net.minecraft.entity.item.EntityBoat func_184447_s()V # tickLerp
protected net.minecraft.entity.item.EntityBoat func_184450_w()V # updateMotion
protected net.minecraft.entity.item.EntityBoat func_184443_x()V # controlBoat